.InstrumentCard {
  height: -webkit-fill-available;
}

.img-wrap {
  height: 67%;
}
.InstrumentCard img {
  width: 100%;
  height: -webkit-fill-available;
  display: block;
}

.InstrumentCard h2 {
  margin: 0;
}

.InstrumentCard__title {
  color: white;
  text-shadow: 2px 2px black;
}

.InstrumentCard a {
  text-decoration: none;
}
