/* body {
  background: linear-gradient(
    30deg,
    rgba(211, 211, 211, 1) 24%,
    rgba(69, 147, 255, 1) 100%
  );
} */

body {
  background: linear-gradient(
    30deg,
    rgba(211, 211, 211, 1) 24%,
    rgba(82, 96, 210, 0.8) 100%
  );
}

.capitalize {
  text-transform: capitalize;
}
