.App {
  position: relative;
  min-height: 100vh;
}

.App__main {
  padding-bottom: 4rem;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background: linear-gradient(
    30deg,
    rgba(211, 211, 211, 1) 24%,
    rgba(82, 96, 210, 0.8) 100%
  );
}

.capitalize {
  text-transform: capitalize;
}

#footer {
  text-align: center;
  font-family: "Montserrat";
  position: absolute;
  bottom: 0;
  width: 100%;
}

.portfolio-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 10px;
}


