.review-success-modal {
  /* height: 462px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto
}

.review-success-modal a {
  padding: 20px;
  /* text-decoration: none; */
  color: black
}
