.review-success-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto
}

.review-success-modal a {
  padding: 25px;
  font-size: 25px;
  color: rgba(82, 96, 210, 1)
}
