.App__header {
  margin-bottom: 1rem;
  font-family: Laila;
}

.Header__nav {
  height: 40px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 2rem;
}

.Header__nav h1 {
  margin: 0;
  font-size: 16px;
}

.Header__nav a {
  color: #444;
  text-decoration: none !important;
}

.Header__nav a:hover {
  color: none !important;
}

.Header__tagline--wide {
  opacity: 0.35;
  margin-left: 10px;
}

.Header__tagline--narrow {
  opacity: 0.35;
  display: block;
  text-align: center;
  display: none;
  margin-top: 10px;
}

.Header__not-logged-in {
  display: flex;

  align-items: center;
  justify-content: flex-end;
}

.Header__not-logged-in h2 {
  cursor: pointer;
}

.Header__not-logged-in a:last-child {
  background: rgb(255, 121, 121);
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  margin-left: 10px;
}

.Header__logged-in a {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px 15px;
  border-radius: 15px;
}

.Header__logged-in a:first-child {
  margin-right: 3px;
}

.login-container {
  display: flex;
  text-align: end;
  cursor: pointer;
}

.browse-and-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.show-dropdown {
  box-shadow: -7px 8px 15px -3px rgba(0, 0, 0, 0.61);
}

.hide-dropdown {
  display: none;
}

.Header__tagline--narrow {
  display: inherit;
}

.Header__tagline--wide {
  display: none;
}

.menu-wide {
  display: none;
}

@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }

  .Header h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .Header__logged-in a {
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 750px) {
  .Header__tagline--narrow {
    display: none;
  }
  .Header__tagline--wide {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
  }

  .Header__nav h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 850px) {
  .App__header {
    margin-bottom: 100px;
  }

  .browse-and-search-container {
    position: absolute;
    top: 0;
    flex-direction: row-reverse;
    width: 60%;
    right: 0;
    padding: 0 10px;
  }

  .dropdown {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
  }

  .menu-wide {
    display: block;
    padding-top: 20px;
  }

  .menu-wide-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background: #373a47;
    padding: 20px;
  }

  .menu-wide-list-item {
    padding: 0 20px;
  }

  .menu-wide-list-item:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 1150px) {
  .browse-and-search-container {
    width: 56%
  }

  .dropdown > .button {
    font-size: 22px;
    height: 50px;
  }
}
