#BookPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.BookPage__book-info {
  width: 100%;
}

.BookPage__book-info h3 {
  text-align: center;
}
.BookPage__review-list {
  list-style: none;
  padding-left: 0;
}


.BookPage__ratings-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.BookPage__review {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted black;
}

.BookPage__review:last-child {
  border-bottom: none
}

.BookPage__review-user {
  font-size: 12px;
}

.BookPage__authors-container {
  font-size: 16px;
}

.BookPage__reviews-container {
  width: calc(80vw);
}

.BookPage__authors-container-wide {
  display: none;
}

@media screen and (min-width: 850px) {
  #BookPage {
    padding: 0 100px;
  }

  .BookPage__description {
    line-height: 1.5em;
  }

  .BookPage__book-info h3 {
    font-size: 28px
  }

  .BookPage__authors-container-wide {
    display: block;
    font-size: 12px;
    margin-top: 3px
  }

  .BookPage__authors-container {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  #BookPage {
    max-width: 80%
  }
}

