.error p {
    font-size: 12px;
    text-align: center;
  }
  

  .RegistrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RegistrationForm > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 95%; */
  }
  
  .RegistrationForm div input {
    width: 80%;
    text-align: left;
  }
  
  .RegistrationForm .validation-error {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  
  .validation-error {
    top: 105%;
    display: flex;
    justify-content: center;
    /* position: absolute; */
  }
  

  .register-form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
  }

  .register-form-buttons button {
    margin-bottom: 40px;
    max-width: 65%
  }
  
  @media screen and (min-width: 500px) {
    .RegistrationForm div input {
      width: 50vw;
    }
  }
  
  @media screen and (min-width: 900px) {
    .RegistrationForm > div {
      max-width: 700px;
    }
  
    .RegistrationForm div input {
      width: 500px;
    }
  }