.my-reviews-container {
  display: flex;
  justify-content: center;
}

#my-reviews-list {
  width: 90vw;
  padding: 0;
}

#my-reviews-item-book-and-review {
  display: flex;
  justify-content: space-between;
}
.my-reviews-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted grey;
  margin-bottom: 10px;
}

.my-reviews-item-book-info {
  text-align: left;
  max-width: 75%;
}
.my-reviews-item-data {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 12px;
}

.authors-container {
  font-size: 12px;
}

@media screen and (min-width: 1000px) {
  #my-reviews-list {
    width: 70vw;
  }
}
