.my-reviews-container {
    display: flex;
    justify-content: center;
}

#my-reviews-list {
    width: 80vw;
    /* flex-direction: column; */
    padding: 0;
}

.my-reviews-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dotted grey;
    margin-bottom: 10px
}

.my-reviews-item-book-info {
    text-align: left;
}
.my-reviews-item-data {
    display: flex;
    flex-direction: column;
    text-align: right;
}