.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.login-modal {
  height: 462px;
  overflow-y: scroll;
}

.login-modal input {
  width: 100%;
}

.login-modal ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  border-bottom: 1px solid black;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: center;
}

.modal-tab:first-child {
  border-right: 1px solid black;
}

.modal-tab {
  width: 50%;
  cursor: pointer;
}

.highlight {
  background-color: #d26e52;
}

.SuccessIcon__container {
  display: flex;
  align-items: center;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  background-color: #373a47;
}

.SuccessIcon__container > h2 {
  color: white;
  text-align: center;
}

@media screen and (min-width:900px) {
  .modal-main {
    width: 600px;
    overflow-y: hidden;
    height: auto
  }

  .SuccessIcon__container {
    height: 462px
  }


}
